# Framework principal
fastapi
uvicorn

# Tipagem e validação
pydantic

# Banco de dados
prisma
passlib

# Manipulação de ambiente e arquivos
python-dotenv
python-multipart
requests

# OCR e arquivos
pytesseract
pdf2image
pdfplumber
Pillow

# Machine Learning e IA
transformers
sentence-transformers
torch
faiss-cpu
scikit-learn
numpy

# Suporte a CORS
starlette
