fastapi
uvicorn
pydantic
huggingface_hub
transformers
torch
PyMuPDF
langchain
langchain-community
langchain-huggingface
pytesseract
pillow
pandas
prisma
python-dotenv
pdfplumber
pdf2image
faiss-cpu
scikit-learn
passlib
requests
python-multipart
huggingface_hub[hf_xet]
